<% @title="Bikeable Toronto" %>

<h1>All locations</h1>
<ul>
<% @locations.each do |location| %>
<li>
  <img src="<%= location.image %>"><br />
  <%= link_to location.name, location_path(location) %><br />
  <%= location.address %><br />
  <%= location.description %><br />
</li>
<% end %>
</ul>
<div id="map-canvas"/>
